extends layout

block content
  form(action="/search" method="POST")#search
    input(type="search",
        name="searchterm",
        placeholder="Begin typing to search...",
        hx-post="/search",
        hx-trigger="keyup changed delay:500ms, search",
        hx-target="#bullets",
        hx-target-error='#response',
        hx-select="#bullets,#error",
        hx-swap='outerHTML')#searchterm
    input(name="active", type="checkbox", checked)#active
    label(for="active") Show Active
    input(name="archive", type="checkbox")#archive
    label(for="archive") Show Archive


  form(hx-post='/', hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML')
    textarea(name='content', placeholder='Details')
    input(id='active', name='active', type="checkbox" checked)
    label(for='active') Set active
    br
    label(for='active_at') Active at:
    input(id='active_at', name='active_at', type='datetime-local')
    br
    label(for='expire_at') Expires at:
    input(id='expire_at', name='expire_at', type='datetime-local')
    button(type='submit') Add bulletin
  div#response

  ul#bullets
    each val in list
      li
        span #{val.content}
        if val.is_active
          input(type="checkbox", checked, disabled)
        else
          input(type="checkbox", disabled)
        a(href='/' + val.id + '/detail') Details
