extends layout

block content
  form(action="/search" method="POST")#search
    input(type="search",
        name="searchterm",
        placeholder="Begin typing to search...",
        hx-post="/search",
        hx-trigger="keyup changed delay:500ms, search",
        hx-target="#bullets",
        hx-target-error='#response',
        hx-select="#bullets,#error",
        hx-swap='outerHTML')#searchterm
    input(name="active", type="checkbox", checked)#active
    label(for="active") Show Active
    input(name="archive", type="checkbox")#archive
    label(for="archive") Show Archive


  form(hx-post='/', hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML')
    input(name='content', type='text', placeholder='Details')
    button(type='submit') Add bulletin
  div#response

  ul#bullets(hx-get='/', hx-trigger='refreshBullet', hx-target='#bullets', hx-select='#bullets', hx-swap='outerHTML')
    each val in list
      li
        span #{val.content}
        if val.is_active
          button(hx-patch='/' + val.id, hx-vals='{ \"active\": 0 }', hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML') Archive
        else
          button(hx-patch='/' + val.id, hx-vals='{ \"active\": 1 }', hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML') Revive
        form(hx-patch='/' + val.id, hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML')
          input(name='content', type='text', placeholder='Details', value=val.content)
          button(type='submit') Edit
        //- button(hx-delete='/' + val.id, hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML') Delete
        a(href='/' + val.id + '/history') History
